<ion-view title="Smiley" class="tabs-item-hide">
  <ion-content class="smiley-feed-content" overflow-scroll="true">
    <div ng-if="loading" class="loading">
      <ion-spinner icon="android"></ion-spinner>
    </div>

    <div class="smiley-feed" ng-if="!loading">
      <div class="item item-complex smiley">
        <div class="item-content">
          <div class="item item-avatar item-header">
            <span class="round-img ion-android-contact"></span>
            <h2>{{smiley.nick}}</h2>
            <p class="time-ago">{{getTimeAgo(smiley.added)}}</p>
            <!--<span class="badge badge-royal" ng-if="smiley.added > lastChecked"> FRESH</span>-->
            <span class="rating" ng-if="smiley.rate"><span class="ion-android-star">{{smiley.rate}}</span></span>
          </div>

          <div class="item item-image" back-img="{{smiley.gif || smiley.img}}" ></div>
          <div class="item item-footer">
            <a
              ng-class="{hasLikes: smiley.like}"
              class="item-icon-left like-counter" href
              ng-click="smiley.like = smiley.like + 1; smiley.$save()">
              <span class="ion-android-favorite like-animation"></span>
              <i class="icon ion-android-favorite-outline"></i>
              <span class="text">{{smiley.like}}</span>
            </a>
              <a
                href
                ng-if="userName === smiley.nick"
                class="action-button ion-android-delete"
                ng-click="removeItem(smiley)">
              </a>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="!loading && smileysFromUser.length > 1">
      <h2 class="title-separator">More smileys from {{smiley.nick}}</h2>
      <div class="smiley-feed disable-user-behavior smiley-feed--not-fixed compact">
        <div class="list">
          <div class="item item-complex smiley" ng-if="item.$id !== smiley.$id" ng-repeat="item in smileysFromUser | orderBy:'added':true track by item.$id" >
            <a class="item-content" ng-href="#/feed/{{item.$id}}">
              <div class="item item-avatar item-header">
                <span class="round-img ion-android-contact"></span>
                <h2>{{item.nick || '-'}}</h2>
                <p class="time-ago">{{getTimeAgo(item.added)}}</p>
                <!--<span class="badge badge-royal" ng-if="item.added > lastChecked"> FRESH</span>-->
              </div>

              <div class="item item-image" back-img="{{item.gif || item.img}}" ></div>
            </a>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
