
<ion-view title="Smileys" class="tabs-item-hide" hide-back-button="true">
    <ion-nav-title>
      <img class="header-smiley-icon" src="img/icon/arrow-smiley.png"> <span class="title-accent">Smileys</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a ng-href="#/user/{{userName}}" class="button button-icon icon ion-android-person"></a>
    </ion-nav-buttons>


  <ion-content class="smiley-feed-content" overflow-scroll="true">
    <div class="smiley-feed compact date-separator">

      <div class="list">
        <div class="period">

          <div class="period-header">
            <div>
              <button class="button-navigate" ng-disabled="loading" ng-click="loadPrevPeriod()">
                <i class="icon ion-ios-arrow-back"></i>
              </button>
            </div>

            <div class="period__title" ng-if="!loading">
              <div class="date-separator__title">{{getPeriodLabel()}}</div>
              <div ng-if="items.length" class="date-rating-avg">Avg {{getTotalRatingsForDate()}}</div>
            </div>
            <div class="inline-loader" ng-if="loading">
              <ion-spinner icon="android"></ion-spinner>
            </div>

            <div>
              <button class="button-navigate" ng-disabled="loading || isNextWeekInFuture()" ng-click="loadNextPeriod()">
                <i class="icon ion-ios-arrow-forward"></i>
              </button>
            </div>

          </div>



          <div class="empty-info" ng-if="!loading && !items.length">
            <span class="empty-state-face">
              <span class="eye eye--left"></span>
              <span class="eye eye--right"></span>
              <span class="mouth"></span>
            </span>
            Wow, such empty week
          </div>

          <div
            class="item item-complex smiley"
            ng-repeat="item in periodOrderedItems = (items | orderBy:added:false) track by item.$id"
          >
            <div class="item-content">
              <div class="item item-avatar item-header">
                <span class="round-img ion-android-contact"></span>
                <h2>{{item.nick || '-'}}</h2>
                <p class="time-ago">{{getTimeAgo(item.added)}}</p>
                <span class="rating" ng-if="item.rate"><span class="ion-android-star">{{item.rate}}</span></span>
              </div>

              <a
                class="item item-image"
                ng-href="#/feed/{{item.$id}}"
                ng-style="{'background-image':'url(' + (item.gif || item.img) + ')'}"
              ></a>

              <div class="item item-footer">
                <a
                  ng-class="{hasLikes: item.like, 'animation-active': animatingItems[item.$id]}"
                  class="item-icon-left like-counter" href
                >
                  <span class="ion-android-favorite like-animation"></span>
                  <i class="icon ion-android-favorite-outline"></i>
                  <span class="text">{{item.like}}</span>
                </a>
              </div>
            </div>
          </div>

        </div>

      <!--
        <div ng-if="loading && !items.length" class="loading loading--list">
          <ion-spinner icon="android"></ion-spinner>
        </div>
      -->
      </div>
    </div>





  </ion-content>

  <a
    ng-click="resetPeriodNavigation()"
    ng-href="#/draw"
    class="button button-calm icon button-round bottom-right ion-android-add"
  >
  </a>

</ion-view>
