
<ion-view title="Draw your Smiley" hide-nav-bar="true">
  <ion-content class="view--draw" overflow-scroll="true">

  <div class="button-bar" ng-if="touched">
    <a class="button button-large  button-light positive icon-left ion-android-create sketch" ng-class="{'active':!gif && !eraser}" ng-click="setDrawMode()" href data-tool="marker" data-size="5">Draw</a>
    <a class="button button-large button-light energized icon-left ion-android-hand sketch" ng-class="{'active':!gif && eraser}" ng-click="setEraserMode()" href data-tool="eraser" data-size="25">Erase</a>
    <a class="button button-large button-light energized icon-left ion-ios-videocam sketch" ng-class="{'active': gif}" ng-click="setGIFMode()" href data-tool="gif" data-size="25">GIF</a>
  </div>

  <div class="draw-container" ng-if="!loading">
    <div class="start-layer" ng-if="!touched">
      <div class="start-layer-content">
        <i class="icon">?</i><br />How was your week?<br /><span class="subtitle">Rate</span>
        <a href class="rate-btn" ng-class="{rated: rating===givenRating}" ng-repeat="rating in [1,2,3,4,5]" ng-click="rateWeek(rating)">
          <span class="content">{{rating}}</span>
        </a>
      </div>
    </div>
    <div class="draw-area" ng-show="touched && !gif">
      <div class="draw__colors">
        <a
          href
          ng-repeat="(index, color) in colors"
          data-color="{{color.hex}}"
          ng-class="{active:activeColor === color.name || (!activeColor && index===0)}"
          ng-click="setColorActive(color.name)"
          class="sketch draw__color {{color.name}}">
        </a>
      </div>

      <canvas id="sketch" width="350" height="350" class="draw"></canvas>
    </div>
    <div class="gif-area" ng-if="touched && gif">
      <input class="gif-area__search" placeholder="Search GIFs.." type="text" ng-model="searchTerm" ng-change="searchGIF(searchTerm)" />
      <div class="gif-area__gifs" ng-if="touched && gif">
        <img
          class="gif-area__image"
          ng-class="{'gif-area__image--active': $root.selectedGIF === url}"
          ng-click="$root.selectedGIF = url"
          ng-repeat="url in GIFResults"
          ng-src="{{ url }}" />
      </div>
    </div>
  </div>

  <div ng-if="loading" class="center stable loading" ><ion-spinner icon="android"></ion-spinner></div>

  <div class="button-bar fixed-bottom" ng-if="touched">
    <a class="button button-large button-light assertive" ng-click="cancel()">Cancel</a>
    <a class="button button-large button-balanced" ng-class="{disabled:!touched}" ng-click="saveImg()">Post!</a>
  </div>


  </ion-content>
</ion-view>
