
<ion-view title="Draw your Smiley" hide-nav-bar="true">
  <ion-content class="view--draw" overflow-scroll="true">

  <div class="button-bar" ng-if="touched">
    <a class="button button-light positive icon-left ion-android-happy" ng-class="{active: mode === modes.DRAW}" ng-click="setDrawMode()" href>Smiley</a>
    <a class="button button-light energized icon-left ion-ios-videocam" ng-class="{active: mode === modes.GIF}" ng-click="setGIFMode()" href>GIF</a>
  </div>

  <div class="draw-container" ng-if="!loading">
    <div class="start-layer" ng-if="!touched">
      <div class="start-layer-content">
        <i class="icon">?</i><br />How was your week?<br /><span class="subtitle">Rate</span>
        <a href class="rate-btn" ng-class="{rated: rating===givenRating}" ng-repeat="rating in [1,2,3,4,5]" ng-click="rateWeek(rating)">
          <span class="content">{{rating}}</span>
        </a>

        <a href="#/tab/feed/" class="cancel-link">Cancel</a>
      </div>
    </div>
    <div class="draw-area" ng-show="touched && mode === modes.DRAW">
      <div class="draw__tools">
        <div>
          <a
            ng-click="setDrawMode()"
            href
            data-tool="marker"
            data-size="5"
            class="draw__action sketch ion-paintbrush"
            ng-class="{active: !eraser}"
          ></a>
          <a
            ng-click="setEraserMode()"
            href
            data-tool="eraser"
            data-size="25"
            class="draw__action sketch ion-android-hand last"
            ng-class="{active: eraser}"
          ></a>
        </div>
        <div>
          <a
            href
            ng-repeat="(index, color) in colors"
            data-color="{{color.hex}}"
            ng-class="{active:activeColor === color.name || (!activeColor && index===0)}"
            ng-click="setColorActive(color.name)"
            class="sketch draw__color {{color.name}}">
          </a>
        </div>

      </div>

      <canvas id="sketch" width="350" height="350" class="draw" ng-if="!clearingCanvas"></canvas>
    </div>
    <div class="gif-area" ng-if="touched && mode === modes.GIF">
      <input class="gif-area__search" placeholder="Search GIFs.." type="text" ng-model="searchTerm" ng-change="searchGIF(searchTerm)" />
      <div class="gif-area__gifs" ng-if="touched && mode === modes.GIF">
        <img
          class="gif-area__image"
          ng-class="{'gif-area__image--active': $root.selectedGIF === url}"
          ng-click="$root.selectedGIF = url"
          ng-repeat="url in GIFResults"
          ng-src="{{ url }}" />
      </div>
    </div>

  </div>

  <div ng-if="loading" class="center stable loading" ><ion-spinner icon="android"></ion-spinner></div>

  <div class="button-bar fixed-bottom" ng-if="touched">
    <a class="button button-light assertive" ng-click="cancel()">Cancel</a>
    <a class="button button-balanced" ng-class="{disabled:!touched}" ng-click="saveImg()">Post!</a>
  </div>


  </ion-content>
</ion-view>
