
<ion-view title="Settings">
  <ion-content class="padding intro-page" overflow-scroll="true">

    <div class="container">
      <!--
      <div id="logo" class="center">
        <img id="smiley" class="centerimg" src="img/arrow-smiley.png" />
        <img id="pen" class="centerimg" src="img/pen.png" />
      </div>
      -->

      <h1 class="center intro-title title--account">Your Name</h1>

      <form class="name-form account-form" ng-submit="save(user)">
        <div class="list list-inset name-input">
          <label class="item item-input">
            <input type="text" placeholder="Your Name" ng-model="user" />
          </label>
        </div>

        <button
          ng-click="save(user)"
          class="button button-calm button-block button-save"
          ng-class="{'button-success ion-android-done':saved, 'icon-right ion-android-close':failed}">
          <span class="text">Save</span>
        </button>
      </form>
  </div>

  </ion-content>
</ion-view>
