
.date-separator__title {
  display: inline-block;
  color: #aaa;
  padding: 0;
  text-transform: uppercase;
}

.date-rating-avg {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 30px;
  color: $royal;
}

