.kpis {
  padding: 15px 30px;
  .kpi {
    padding: 0 25px;
    display: inline-block;
    color: #666;
    .title {
      font-size: 2.3em;
      color: $dark;
      font-weight: bold;
      margin-bottom: 3px;
    }
  }
}


@media screen and (max-width: 767px) {
  .kpis {
    padding: 20px 10px;
    .kpi {
      padding: 0 15px 0 0;
      font-size: 0.8em;
      .title {
        font-size: 2em;
        margin-bottom: 0px;
      }
    }
  }
}
