.rating {
  display: block;
  position: absolute;
  right: 12px;
  top: 22px;
  z-index: 1;

  background: rgba($calm, 0);
  width: 44px;
  height: 22px;

  text-align: center;
  letter-spacing: 1.5px;
  white-space: nowrap;
  font-weight: bold;
  color: rgba($royal, 0.8);
  span::before {
    margin-right: 1px;
    color: #aaa;
  }

  .compact & {
    font-size: 0.9em;
    right: 6px;
    top: 17px;
    width: 36px;
    height: 18px;
    line-height: 18px;
  }
}
