.intro-page {
  background: $stable;
}


// Intro
.intro-title { color: $royal; font-weight: 900; margin: 5px 0 30px; font-size: 2em; padding: 0; }
#logo {position: relative; max-width: 30%; margin: 0px auto 0; text-align: center}
#smiley {display: block; width: 80%; max-width: 470px; top:20px; position: relative;margin:0 auto 20px;}
#pen {position:absolute; display: none; left:50%; top:15%; max-width:25%; animation:drawSmiley 6s linear infinite; -webkit-animation: drawSmiley 6s linear infinite; animation: none;}

.name-form {
  max-width: 333px;
  margin: 0 auto;
}
.account-form {
  position: relative;
  top: 0px;
}

h1.title--account {
  margin-top: 30px;
}

.name-input {
  background: transparent;
  .item {
    background: #FFF;
    padding: 6px;
    input {
      padding: 6px;
      font-weight: 400;
      text-align: center;
      color: $royal;
      font-size: 24px;
      line-height: 34px;
      padding-right: 0 !important;
    }
  }
}

.name-input input::-webkit-input-placeholder { color: rgba($royal, 0.5); }
.name-input input::placeholder { color: rgba($royal, 0.5); }

.button-save {
  overflow: hidden;
  &:before {
    transform: scale(0);
  }
}

.button-success {
  .text {
    transition: transform 0.2s;
    transform: translate3d(0, 100%, 0);
    display: inline-block;
  }
  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    width: 30px;
    font-size: 2.5em;
    margin: 3px 0 0 -15px;
    animation: scale-in 0.4s cubic-bezier(0.24, 0.05, 0.61, 1.67);
    animation-fill-mode: forwards;
  }
}


@media screen and (min-width: 768px) {
  .intro-page {
    .scroll {
      min-height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .container {
      min-height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  #logo {
    margin: -60px auto 0;
  }

  h1.title--account {
    margin-top: -30px;
  }
  .intro-title {
    font-size: 2.6em;
  }
}

