.view--draw {
    background: $stable;

  .button-bar {
    z-index: 2;
    position: relative;
    animation: drop-in 0.5s $smiley-animation;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0px 1px rgba(0, 0, 0, 0.4);
    & > .button {
      border-radius: 0;
      border: none;
      line-height: 50px;
      &:before {
        position: relative;
        top: 0px;
      }
      &.active {
        background: #FFF;
        box-shadow: inset 0 -2px 0 $royal;
      }
    }
    &.fixed-bottom {
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.4);
      position: fixed;
      bottom: 0;
      animation: drop-from-bottom 0.5s $smiley-animation;
    }
  }

  .scroll {
    min-height: calc(100vh - 112px);
  }

  .draw-container, .draw-area, .gif-area {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .draw-area, .gif-area {
    top: $bar-height;
    bottom: $bar-height;
  }

  .draw-area {
    animation: fade-in-scale-out 0.5s $smiley-animation;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
  }

  .gif-area {
    overflow: auto;
    margin: auto;
    padding: 0;
    max-width: 600px;
  }

  .gif-area__search {
    width: 100%;
    height: 40px;
    margin: 30px 1em 25px;

    padding: 0 0.5em;
    border-radius: 3px;
  }
  .gif-area__image {
    width: 100%;
    display: block;
    border: none;
    padding: 0.5em 1em;
  }
  .gif-area__image--active {
    background: rgba($balanced, 0.3);
    background: $calm;
  }

  .draw {
    background: $light;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    max-width: 90%;
    cursor: crosshair;
  }

  .draw__tools {
    position: relative;
    margin: -10px auto 5px;
    text-align: center;
    z-index: 99;
  }

  .draw__color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 8px;
    transition: all 0.2s;

    &.active {
      transform: scale(1.3);
    }

    &.red { background: $assertive; }
    &.green { background: $balanced; }
    &.dark { background: $dark; }
    &.royal { background: $royal; }
    &.orange { background: $orange; }
  }

  .draw__action {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    background: #999;
    color: #FFF;
    font-size: 20px;
    transition: all 0.2s;
    position: relative;
    margin: 0 4px 15px;
    &.active {
      background: $dark;
    }
  }

  @keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  .loading-layer {
    animation: fade-in 0.15s;
    background: rgba(0,0,0, .5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    svg {
      width: 40px;
      height: 40px;
      stroke: $light;
      fill: $light;
    }
  }



}



@media screen and (min-width: 840px) {
  .draw {
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    }
  }
  .button-bar {
    max-width: 800px;
    margin: 0 auto;
    &.fixed-bottom {
      left: 50%;
      margin-left: -400px;
    }

    & > .button {
      border-radius: 0;
      border: none;
    }
  }

  .view--draw {
    .draw__tools {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 40px;
      margin: -15px auto 15px;
      &>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .draw__action {
        margin-bottom: 0;
        &.last {
          margin-right: 25px;
        }
      }
    }

    .gif-area__image {
      padding: 1em;
    }
  }
}
